.columen_right .title,
.columen_right .title,
.columen_middle .title
{
	display:flex;
	margin-top:0px;
	font-size: 32px;
	font-weight: bold;
	justify-content: center;
}



.columen
{
	display:grid;
   word-break: break-all;
	grid-template-columns: 1fr 1fr;


   .columen_left
   {
      width:600px;
      padding:20px;
      display:grid;
      height: 690px;
      overflow: hidden;
      margin-left:20px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      background-color: white;

      #readme_content
      {
         max-height: 800px;
         overflow-y: scroll;
      }
   }

   .block
   {
 
      height: 100%;
      display:grid;
      border-radius: 20px;
      background-color: white;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
   }

   .columen_middle 
   {

      gap:15px;
      width:600px;
      display:grid;
      margin-left: 20px;
      justify-content: center;
      grid-template-rows: 287px 425px;


      .columen_middle_infomation
      {
         padding:10px;
         font-size:15px;
         text-align: center;
         font-weight: bold;

      }

      .columen_middle_button
      {
      gap:10px;
      display:grid;
      padding:20px;
      max-width: 100%;
      height: max-content;
      border-radius: 20px;
      justify-content: center;
      grid-template-columns: repeat(3, 130px);
      

		button
		{
			border:none;
			display:flex;
			height: 50px;
			color:white;
			width: 100px;
			font-size: 16px;
			cursor: pointer;
			margin-right:5px;
			border-radius: 5px;
			font-weight: bold;
			align-items: center;
			justify-content: center;
			background-color: #007bff;
         
            &:hover
            {
               background-color: #0056b3;
            }
		   }
	   }
   }


   .columen_right
   {

      display: grid;
      flex-wrap: nowrap;
      margin-left:20px;
      padding:20px;
      border-radius: 20px;
      align-items: flex-start;
      justify-content: center;
      background-color: white;


      .columen_right_infomation
      {
         padding:10px;
         font-size:15px;
         text-align: center;
         font-weight: bold;

      }
   }
}

