/* Style for the quiz container */
.quiz_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.quiz_layout {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

.quiz_title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.question {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Style for answer buttons */
.answer-btn {
  display: block;
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.answer-btn:hover {
  background-color: #2980b9;
}

/* Style for the score */
.score {
  font-size: 16px;
  margin-top: 20px;
}

/* Style for the restart button */
#restart-btn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

#restart-btn:hover {
  background-color: #c0392b;
}

.answers
{
  gap: 10px;
  display: grid;
  grid-template-columns: 100px 100px;
}