
.custom-list 
{
   list-style-type: none;
   padding: 0;
   font-family: Arial, sans-serif;
 }
 
 .custom-item {
   margin-bottom: 15px;
 }
 
 .custom-title 
 {
   cursor: pointer;
   font-weight: bold;
   color: #333;
   background-color: #f0f0f0;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   transition: background-color 0.3s ease;
 }
 
 .custom-text 
 {
   display: none; 
   margin-top: 10px;
   padding: 10px;
   background-color: #f9f9f9;
   border: 1px solid #ccc;
   border-radius: 5px;
 }
 
 .sub-list {
   list-style-type: none;
   padding-left: 20px;
   margin-top: 5px;
   border-left: 2px solid #007bff;
   max-height: 0;
   overflow: hidden;
   opacity: 0;
   transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
 }
 
 .custom-item.open .sub-list 
 {
   max-height: 1000px; 
   opacity: 1;
 }
 
 .sub-list li 
 {
   margin-bottom: 5px;
   color: #333;
   font-size: 16px;
 }
 
 .custom-title 
 {
   cursor: pointer;
 }
 
 
 .custom-text.open 
 {
   display: block; 
 }
 
 .sub-list.open {
   display: block; 
 }