
.texthelp_container_title {
  color: color;
  padding: 10px;
  text-align: center;
  margin-top:15px;
}

.texthelp_container_title label {
  font-size: 18px;
  font-weight: bold;
}

.texthelp-page {
  width: 100%;
  display: grid;
  padding: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}

.title-arrow
{
  height: 100%;
}


.texthelp-list {
  padding: 0;
  width:500px;
  list-style: none;
}

.texthelp-item {
  margin-bottom: 10px;
}

.texthelp-title {
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-list {
  padding: 0;
  margin:5px 0 0 0;
  border-top:1px solid lightgray;
  display: block;
  list-style: none;
}

.texthelp-content
{
  display:none;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.texthelp-content.open
{
  display:block
}

.texthelp-item:hover .texthelp-title {
  background-color: #e0e0e0;
}