.accordion_title {
	width: 100%;
	color: #333;
	padding: 10px;
	padding-right: 20px;
	display: flex;
	cursor: pointer;
	font-weight: bold;
	margin-bottom: 5px;
	border-radius: 5px;
	align-items: center;
	border: 1px solid #ddd;
	background: rgb(232, 232, 232);
	justify-content: space-between;
	transition: background-color 0.3s;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
	&::after {
	  content: '\203A';
	  font-size: 18px;
	  transform: rotate(90deg) translate(-50%);
	}
 
	&:hover {
      background-color: rgb(201, 201, 201);
	}
 
	&.open::after {
		transform: rotate(-90deg) translateY(-10%);
	}
 }
 

 .accordion_panel 
 {
	display: none;
	padding: 10px;
	border: 1px solid #ddd;
	background-color: #f9f9f9;
	border-radius: 5px;
	margin-top: 5px; 
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	
	.markdown_container 
	{
		display: grid;
		grid-gap: 10px;
		border-radius: 5px;
		margin: 10px 0;
		position: relative;
		align-items: center;
		border: solid gray 1px;
		background-color: rgb(56, 56, 56);

		

		.copyDIV
		{
			display: flex;
			justify-content: right;
			background-color: rgb(98, 99, 115);
			padding: 5px;
			button
			{
				color:white;
				border: none;
				cursor: pointer;
				max-width: 100px;
				margin-right:5px;
				background-color: transparent;
				&:focus,
				&:hover
				{
					transform: scale(1.06);
				}
			}
		}
		pre 
		{
			margin: 0;
			padding:5px;
			color: white;
			max-width: 400px;
			white-space: pre-wrap;
		}
	}
 }
 

 .accordion_title.active + .accordion_panel 
 {
	display: block;
 }
