html, body
{
   margin: 0;
	height: 100%;
	overflow-x: hidden;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}



.app-header
{
	width: 100%;
	height: 40px;
	padding:0 10px;
	align-items: center;
	display: inline-grid;
	grid-auto-flow: column;
	grid-template-columns: 125px 1fr 150px;
}

.form-area
{
	display:grid;
	position: relative;
}


.page img 
{
   z-index: -1;
   top:0;
   left:0;
   position: absolute;
}

.topbar
{
	height: 100%;
   z-index: 1;
	display:flex;
	font-size:18px;
	color: white;
	cursor: default;
	list-style: none;
	user-select: none;
	justify-content: center;
}

.topbar .top-menu
{
	margin:0;
	font-size:13px;
	padding:0 13px;
	cursor: default;
	margin-left:50px;
	font-weight: bold;
	position: relative;
	list-style: none;
	display:inline-flex;
	align-items: center;
}

.topbar menu[name="top-menu"] li
{
	display:flex;
	position: relative;
}

.left-menu
{
	width:150px;
}

.topbar .top-menu li
{
	width:100px;
	display:flex;
	height: 100%;
	padding:0 10px;
	position: relative;
}


.backgroundimage {
	left:150px;
	height: 100%;
	display: block;
	max-width: 100%;
}

.leftmenuimage
{
	left:0px;
	z-index: 0;
	width: 140px;
	height: 100%;
	background-repeat: no-repeat;
	background-image: url("photo/leftmenu.png");

}

.topmenuimage
{
	z-index: 1;
	top:0px;
	left:0px;
	height: 30px;
	position: relative;
	width: 100%;
	background-image: url("photo/topmenu.png");
}

.formsimage
{
	position: absolute;
	transform: translate(-50%,-50%);
	top:50%;
	left:50%;
}
.topmenucontextimage
{
	left: 50%;
	z-index: 999;
	display:flex;
	position: absolute;
	height: 100%;
	width: 600px;
	background-repeat: no-repeat;
	transform: translateX(-50%);
	background-image: url("photo/topmenucontext.png");
}



.app-page
{
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: fit-content(30%);
}


.image-container {
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	position: relative;
}

.footerimage
{
  	z-index: 1;
	bottom: 0px;
	position: absolute;
}

.form
{
	top: 200px;
	left: 475px;
	width: 800px;
	display: flex;
	height: 400px;
	position: absolute;
}

.github
{
	width: 100%;
	height: 100%;
}

.github a
{
	width: 100%;
	height: 100%;
}
